<footer class="container-fluid mt-5 pt-5">
  <div class="container">
    <div class="d-flex justify-content-around text-center"> 
      <a href="search_main.php" class="list-group-item-action">Search</a>
      <a href="about.php" class="list-group-item-action">About</a> 
      <a href="contact.php" class="list-group-item-action">Contact</a>
      <a href="signin.php" class="list-group-item-action">Sign-in</a> 
      <a href="signup.php" class="list-group-item-action">Sign-up</a> 
    </div>
    <p class="text-center mt-5">All rights reserved &copy; Restaurantreview 2022</p>
  </div>
</footer>